@angloeastern:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${PAT}

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=497D68B2-21E0-4422-94EE-BE6127E7FC40
